body {
    background-image: url(../images/pexels-ilo-frey-2316554.jpg);
    background-size: auto, 100%;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    background-color: #804d41;
}

.nav-item {
    background-image: url(../images/syphoncrema.jpg);
    background-color: rgb(151, 95, 22);
    background-size: cover;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin: 5px;
    text-align: center;
}

.nav-item:hover {
    box-shadow: 0 2px rgba(0, 0, 0, 0.37);
}

.nav-link{
    color: rgba(255, 255, 255, 0.8);
}

nav {
    background-color: #deac5ccc;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

a {
    text-decoration: none;
}

#preface {
    text-align: center;
    background-color: #c9856aaf;
    border: 3px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.coffee-card {
    background-color: rgba(160, 160, 160, 0.863);
    border-radius: 10px;
    position: relative;
}

.coffee-card:hover {
    background-color: rgba(150, 150, 150, .95);
}

.card-text {
    max-width: 70%;
    max-height: 30%;
    position: absolute;
    overflow: auto;
    color: rgb(255, 255, 255);
    background-color: #c9856a7a;
    background-position: center;
    border-radius: 10px;
}

#pourover-text {
    bottom: 7%;
    left: 7%;
    text-align: center;
}

#espresso-text {
    top: 5%;
    left: 15%;
    text-align: center;
}

#syphon-text {
    bottom: 5%;
    left: 15%;
    text-align: center;
}

#uc-text {
    bottom: 5%;
    left: 15%;
    text-align: center;
}