body {
    background-image: url(../images/pexels-ilo-frey-2316554.jpg);
    background-size: auto, 100%;
    background-repeat: no-repeat;
    background-color: #804d41;
}

.nav-item {
    background-image: url(../images/coffee.jpg);
    background-color: #c9856a;
    background-size: cover;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin: 5px;
    text-align: center;
}

.nav-link{
    color: rgba(255, 255, 255, 0.8);
}

nav {
    background-color: #deac5ccc;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

a {
    text-decoration: none;
}

.text-box {
    background-color: #c9856aaf;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
}

.coffee-card {
    background-color: rgba(160, 160, 160, 0.863);
    border-radius: 10px;
    position: relative;
}

.coffee-card:hover {
    background-color: rgba(150, 150, 150, .95);
}

.card-text {
    max-width: 70%;
    max-height: 40%;
    position: absolute;
    overflow: auto;
    color: rgb(255, 255, 255);
    background-color: #c9856a7a;
    background-position: center;
    border-radius: 10px;
}

#pourover-text {
    bottom: 7%;
    left: 7%;
    text-align: center;
}

#espresso-text {
    top: 7%;
    left: 15%;
    text-align: center;
}

#syphon-text {
    bottom: 7%;
    left: 15%;
    text-align: center;
}

#uc-text {
    bottom: 35%;
    left: 15%;
    text-align: center;
}

.instruction-text {
    background-color: #7281a1bb;
    color: white;
    font-size: 1.5rem;
    border: 0;
    max-height: 300px;
    overflow-y: auto;
}