.nav-item {
    background-color: rgb(151, 95, 22);
    border: 3px solid rgba(0, 0, 0, 0.514);
    border-radius: 15px;
    width: 150px;
    height: 50px;
    margin: 5px;
    text-align: center;
}

.nav-item:hover {
    box-shadow: 1px 2px rgba(0, 0, 0, 0.37);
}

.nav-link{
    color: black;
}

nav {
    background-color: rgb(190, 132, 55);
    border-radius: 5px;
    width: 75%;
    margin: auto;
}

a:link {
    text-decoration: none;
}

h1 {
    text-align: center;
}

#about-text {
    text-align: center;
}