<!DOCTYPE html>
<html lang="en">
    <header>
        <meta charset="UTF-8">
        <link href="../styles/style.css" rel="stylesheet" type="text/css">
        <title>My Coffee Addiction</title>
    </header>

    <body>
        <nav>
            <div>
                <a href="#" class="nav-link"><h3>Home</h3></a>
            </div>
            <div>
                <a href="#" class="nav-link"><h3>Pour-over Coffee</h3></a>
            </div>
            <div>
                <a href="#" class="nav-link"><h3>Syphon Coffee</h3></a>
            </div>
            <div>
                <a href="#" class="nav-link"><h3>Espresso</h3></a>
            </div>
        </nav>
    </body>
</html>